@import 'tailwindcss/base';

@import 'tailwindcss/components';

@import 'tailwindcss/utilities';

/* Styles for the overlay */
.user-profile-photo {
    position: relative;
    cursor: pointer;
}

.user-profile-photo:hover::after, .user-profile-photo:hover .user-profile-photo__icon {
    opacity: 1;
}

.user-profile-photo__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.user-profile-photo__icon svg {
    color: #fff;
}

.user-profile-photo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.7);
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.edit-photo-popup-content {
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Adjust padding as needed */
    border-radius: 10px;
    width: 30%;
}

.edit-photo-popup-overlay {
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay background color and opacity */
}

.date-popup-content {

}

.date-popup-arrow {
    display: none;
}

/* Scroll bar */

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1e1e1e; /* Change this to the background color of your container */
}

/* For Firefox */
* {
    scrollbar-color: darkgray #1e1e1e; /* thumb and track color */
    scrollbar-width: thin;
}


